.campaignJoin__container {
    border: 2px solid var(--white);
    background: linear-gradient(#332828, rgb(48, 48, 68)) ;
    width: 200px;
    height: max-content;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: var(--white);
}

.campaignJoin__container form {
    position: absolute;
    /* top: 10px;
    left: 50%;
    transform: translateX(-50%); */
    border: 2px solid var(--white);
    background: linear-gradient(#332828, rgb(48, 48, 68)) ;
    z-index: 20;
    padding: 60px;
    border-radius: 20px;
    box-shadow: var(--clear);
}

.campaignJoin__container .close {
    position: absolute;
    right: 12px;
    top: -8px;
    font-size: 2rem;
    display: flex;
    place-items: center;
    padding: 0px;
}