.campaignJoin__container {
    border: 2px solid red;
    background: radial-gradient(ellipse at 30px 50px, #830101 0%, #220000 100%);
    width: 200px;
    height: max-content;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: var(--white);
}

.campaignJoin__container form {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: red;
    z-index: 20;
    padding: 60px;
    border-radius: 20px;
}