.character__container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.character__container img {
    width: min(400px, 90%);
    height: min(400px, 90%);
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid var(--white);
    box-shadow: var(--clear);
}

.character__container label {
    font-weight: 700;
    margin-top: 30px;
}
.character__container .first-label {
    margin-top: 0;
}
.character__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.character__grid div {
    width: min(400px, 90vw);
    margin: 0 auto;
    border: 2px solid red;
}

@media screen and (max-width: 768px) {
    .character__grid {
        grid-template-columns: 1fr;
    }
    
}