.quest-list-item {
    border: 2px solid var(--primary-300);
    margin-bottom: 20px;
    padding: 8px 20px;
    border-radius: 6px;
    transition: .4s;
    display: flex;
    position: relative;
    overflow: hidden;
}

.quest-list-item:hover {
    background: rgba(106, 106, 106, 0.966);
    cursor: pointer;
}

.quest-list-item h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    color: var(--primary-500);
}
.quest-list-item span {
    display: inline;
}

.quest-list-item .quest-hidden {
    position: absolute;
    top: -10px;
    right: -45px;
    rotate: 45deg;
    background: purple;
    width: 120px;
    height: 55px;
    padding-top: 25px;
    text-align: center;
}

.quest-star {
    position: absolute;
    top: 1px;
    left: 1px;
    color: yellow;
}