.campaignDetails__container {
    background: linear-gradient(#332828, rgb(48, 48, 68)) ;
    border: 2px solid #ddd;
    border-radius: 14px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  }
  .campaignDetails__container h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
  }
  .campaignDetails__container p {
    margin: 0;
    font-size: 0.9em;
  }
  .campaignDetails__container .campaignDetails__dm {
    margin-bottom: 20px;
    margin-top: -10px;

  }
  .campaignDetails__container .campaignDetails__list-title {
    margin-top: 20px;
    text-decoration: underline;
  }
  .campaignDetails__container .campaignDetails__list {
    display: flex;
    flex-wrap: wrap;
  }
  .campaignDetails__container .campaignDetails__list p {
    margin: 30px;
    padding: 10px;
    border: 2px solid #ddd;
    width: max-content;
    box-shadow: 2px 2px 25px 2px rgba(255, 161, 161, 0.358);
  }
  .campaignDetails__container span {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .campaignDetails__container a,
  .campaignDetails__container a:focus,
  .campaignDetails__container a:visited {
    display: block;
    text-decoration: none;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 8px 20px;
    width: max-content;
    background: linear-gradient(to right, #dffaf0, #d5f8f3);
    margin: 20px 0;
  }

  .campaignDetails__container a:hover,
  .campaignDetails__id-checker:hover {
    color: #333;
    background: linear-gradient(to right, #d9e8e2, #c1ebe5);
  }

  .campaignDetails__id-checker {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .campaign-details__id {
    position: absolute;
    bottom: 70px;
    right: 20px;
    border: 2px solid #ddd;
    padding: 8px;
    background: radial-gradient(ellipse at 30px 50px, #440202bb, #741a01b6);
  }