.campaign__Container {
    /* border: 2px solid red; */
    color: #e8e8e8;
}

.campaign__Container .campaign__heading {
    margin-top: 30px;
}
.campaign__Description {
    margin-top: 12px;
    position: relative;
}
.campaign__Description img {
    width: 100%;
    object-fit: cover;
    max-height: 600px;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-top: 12px;
}
.campaign__Description button {
    position: absolute;
    top: 5px;
    right: 5px;
}
.campaign__dm {
    width: max-content;
}
.campaign__dm img {
    border: 2px solid red;
}
.campaign__players {
    display: flex;
    flex-wrap: wrap;
}
.campaign__Maps {
    border: 2px solid aqua;
    margin-top: 20px;
    background-color: #444;
    padding: 20px;
}

.campaign__Npcs {
    display: flex;
    flex-wrap: wrap;
}

.npc {
    border: 2px solid blue;
    margin: 10px;
    padding: 20px;
    background-color: #444;
    color: #e8e8e8;
    max-width: 250px;
    border-radius: 20px;
}
.npc h3 {
    text-align: center;
}
.npc img {
    width: 100%;
    border-radius: 20px;
    margin: 10px auto;
}
.npc button {
    display: block;
    margin: auto;
}


