.editCharacter__form {
    border: 2px solid blue;
    width: min(80vw, 700px);
    height: max-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
}

.editCharacter__form label {
    margin-top: 20px;
    margin-left: 0;
    text-align: left;
    font-weight: 600;
}

.editCharacter__form img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 10px;
}

.edit-input[type: checkbox] {
    margin-left: 
}
/* .edit-input::placeholder {
    color: #fff;
}

.edit-input:focus {
    background: #fff;
    color: #000;
    height: 35px;

}
.edit-input:focus::placeholder {
    color: #555;
} */