header {
    background: #080019;
  }
  header .container {
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }
  header a {
    color: #e2e2e2;
    text-decoration: none;
  }


/* navbar */
.navbar__logo {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

/* Define the keyframes animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.navbar__logo:hover {
    animation: spin .07s linear infinite;
    /* animation: spin 80s linear infinite; */
    /* animation: spin 5s linear infinite; */
}

#small-menu-right img:hover {
    animation: spin 7s linear infinite;
}

.navbar__title {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    /* width: 500px; */
}
nav {
    display: flex;
    align-items: center;
    color: #dcdcdc;
}
nav button {
    background: #222;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
}

.nav-menu {
    border: 1px solid #f8f8f8;
    padding: 12px;
    background: linear-gradient(to left, #001f09, rgba(1, 91, 59, 0.456)) ;
}

/* .nav-menu .nav-icon {
    font-size: 2.5rem;
    color: var(--primary);
    background: #222;
    border: 2px solid var(--primary);
    margin: 5px 0;
} */

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.nav-menu ul li a:hover {
    text-decoration: none;
    color: var(--primary-400);
    transition: 0.3s;
}

.menu-icon,
.nav-icon,
.small-menu-right {
    display: none;
}
.logged-out-menu a {
    margin-left: 10px;
}

@media screen and (max-width: 1600px) {
    #small-menu-right {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 20;
        display: flex;
        gap: 25px;
    }
    #small-menu-right a img {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .menu-icon {
        display: block;
        /* position: absolute;
        top: 10px;
        right: 10px; */
        border: 5px solid var(--white);
        z-index: 10;
        font-size: 3rem;
        color: var(--white);
        background: transparent;
        transition: 500ms;
    }
    .nav-menu {
        position: fixed;
        left: -100vw;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        border: 0;
        z-index: 1;
        background: linear-gradient(to left, #001e1fc8, rgba(1, 81, 91, 0.832));
        backdrop-filter: blur(8px);
        transition: 350ms;
    }
    .nav-menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 90vh;
    }
    .nav-menu ul li {
        width: 250px;
    }
    .menu-icon:hover {
        background: var(--white);
        color: var(--black);
        border: 5px solid var(--white);
        cursor: pointer;
    }

    .active {
        left: 0;
    }
    .nav-icon {
        display: inline;
        margin-right: 20px;
        font-size: 1.8rem;
        margin-bottom: -8px;
    }
}

@media screen and (max-width: 620px) {
    header .container {
        /* max-width: 1000px; */
        margin: 0 auto;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
      }

    .navbar__logo {
        height: 40px;
        width: 40px;
        margin-right: 20px;
    }
    .navbar__title h1 {
        font-size: 1.5rem;
    }
}