.background /* He calls it .container */
{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    /* min-height: 100vh;
    width: 100%; */
    /* background: #0c192c; */
    background: #23242a;
    background: center / cover no-repeat url('../../images/sb.jpg');
    background: center / cover no-repeat url('https://i.pinimg.com/originals/0a/fe/39/0afe399b3f0a454632c7fea074a3f0cb.jpg');
    /* background: center / cover no-repeat url('https://img.freepik.com/premium-photo/photo-mountainous-terrain-with-jagged-peaks-misty-atmosphere_611870-31592.jpg'); */
    /* background: url('../images/forest.jpg') no-repeat center/cover; */
    z-index: -1;
}