/* Full page component */
.map__container {

}

.map__container h1 {
    text-align: center;
    margin-bottom: 20px;
}


/* This is the actual map box */
.map__box {
    width: 100%;
    height: min(900px, 80vh);
    border: 1px solid var(--primary-200);
    box-shadow: var(--clear);
    overflow: hidden;
    position: relative;
}
.movable-characters {
    display: flex;
    width: min(500px, 90%);
    /* height: 180px; */
    overflow-x: scroll;
    position: absolute;
    z-index: 5;
    /* position: absolute;
    top: 8px;
    left: 8px; */
}
.map__image {
    width: 10000px;
    height: 10000px;    
    background: var(--black);
    background-image: no-repeat;
}
.map__image:hover {
    cursor:all-scroll;
}


.map-pc-row {
    display: flex;
    list-style-type: none;
}

