/* Full page component */
.map__container {
    /* position: static;
    overflow: auto; */
}

.map__container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.map__container h2 {
    text-align: center;
    margin-top: 40px;

}


/* This is the actual map box */
.map__box {
    width: 100%;
    height: min(900px, 80vh);
    border: 1px solid var(--primary-200);
    box-shadow: var(--clear);
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}
.map-full-screen {
    position: absolute;
    width: calc(100vw - 20px);
    height: 100vh;
    top: 0;
    left: 0;

    z-index: 100;
    /* border: 2px solid aqua; */
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.movable-characters {
    /* display: flex;
    width: min(500px, 90%); */
    /* height: 180px; */
    /* overflow-x: scroll;
    overflow-y: visible; */
    position: absolute;
    z-index: 3;
    /* position: absolute;
    top: 8px;
    left: 8px; */
}
.movable-avatar {
    position: absolute;
    z-index: 4;
    border-radius: 50%;
    background: rgba(54, 54, 183, 0.413);
    backdrop-filter: blur(50px);
}
.avatar-menu {
    width: inherit;
    /* position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0;
    margin: 0; */
    z-index: 5;
    font-size: 1.4rem;

}
.avatar-info {
    position: absolute;
    right: 86%;
    top: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    padding: 4px;
    padding-left: 6px;
    border: 2px solid var(--primary-800);
}
.avatar-remove {
    position: absolute;
    right: -20px;
    top: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    padding: 4px;
    border: 2px solid var(--error);
}
.avatar-move {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    padding: 4px;
    padding-left: 5.4px;
    border: 2px solid var(--primary-800);
    z-index: 20;
}
.debugging-avatar-div {
    position: absolute;
    bottom: -162px;
    left: 50%;
    transform: translate(-50%, 0);
    width: max-content;
    background-color: var(--secondary-200);
}
.map__image {
    width: 10000px;
    height: 10000px;    
    background: var(--black);
    background-image: no-repeat;
}
.map__image:hover {
    cursor:all-scroll;
}

.full-screen-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    height: 40px;
    width: 40px;
    /* font-size: 2rem; */
    color: var(--white);
    background: var(--primary-800);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;

}
.map-pc-row {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    overflow-x: scroll;
    padding: 20px;
    color: var(--white);
    border: 2px solid rgb(102, 1, 1);
    border-radius: 20px 20px 0 0;
    background: radial-gradient(ellipse at 30px 50px, rgb(82, 29, 29), rgb(4, 42, 4));
}

.map-pc-row::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
}

.map-pc-row::-webkit-scrollbar-track {
    background: transparent; /* Make the track (background) transparent */
}

.map-pc-row::-webkit-scrollbar-thumb {
    background: rgb(112, 168, 112);
}

.map-pc-row::-webkit-scrollbar-thumb:hover {
    background: rgba(191, 68, 68, 0.7); /* Make the thumb darker when hovering over it */
}

