.home__container {
    padding: 30px;
    background: #8ba1a172;
    backdrop-filter: blur(16px);
    border-radius: 4px;
    box-shadow: var(--clear);
    color: var(--black);
    border: 1px solid var(--white);
}

.home__add {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 60px;
}

.home__title {
    margin-top: 80px;
}

@media screen and (max-width: 600px) {
    .home__add {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        margin: 20px 0 20px;
    }
}