.settings__container img {
    width: min(300px, 83vw);
    height: min(300px, 83vw);
    object-fit: cover;
    border-radius: 20px;
}

.settings__container .settings-edit {
    padding: 40px;
    color: var(--primary-800);
}