.quest-grid {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    gap: 3rem;
    margin-top: 1rem;
    max-width: 1260px;
    background: var(--dark-gradient);
    height: 500px;
    border-radius: 12px;
    color: var(--white);
    padding: 20px;
    overflow: hidden;
}

.quest-column1 {
    height: 100%;
    background: rgba(133, 133, 133, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.quest-column1 .quest-icon {
    font-size: 3rem;
    border: 2px solid var(--white);
    border-radius: 12px;
    padding: 5px;
}
.quest-column2 {
    overflow-y: scroll;
    padding: 12px;
}

.quest-column2 h2 {
    display: flex;
    align-items: center;
    color: var(--gray);
    white-space: nowrap;
}
.quest-column2 .quest-icon {
    font-size: 3rem;
    margin-right: 10px;
}
.quest-column2 hr {
    width: 100%; /* This will make the hr take the full width of its container */
    height: 1px; /* This will make the hr very thin, like a line */
    border: none; /* This will remove the default border */
    background-color: var(--gray); /* This will make the hr black */
    margin-left: 10px;
}
.quest {
    border: 2px solid var(--primary-300);
    margin-bottom: 20px;
    padding: 8px 20px;
    border-radius: 6px;
    transition: .4s;
    display: flex;
    position: relative;
}

.quest:hover {
    background: rgba(106, 106, 106, 0.966);
    cursor: pointer;
}
.quest h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    color: var(--primary-500);
}



.quest-column3 {
    height: 100%;
    /* background: green; */
    overflow-y: scroll;
}
.individual-quest {

    /* background: rgba(128, 0, 128, 0.785); */
    min-height: 100%;
}
.individual-quest img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--white);
}
.quest-content {
    padding: 10px;
    border-left: 1px dotted var(--white);
}
.individual-quest h2 {
    font-size: 1.5rem;
    font-weight: 500;
}
.given-return {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    font-size: 1rem;
    margin-bottom: 30px;
}
.given-return span {
    color: var(--primary-500);
}
.given-return hr {
    width: 500px; /* This will make the hr take the full width of its container */
    height: 1px; /* This will make the hr very thin, like a line */
    border: none; /* This will remove the default border */
    background-color: var(--gray); /* This will make the hr black */
    margin-top: 12px;
}
.returnTo {
    text-align: right;
}
.quest-complete {
    color: gold;
    font-size: 4rem;
    text-align: center;
}
/* .given-return p,
.given-return hr {
    display: block;
} */