.Add__form {
    border: 2px solid var(--white);
    width: min(90vw, 700px);
    height: max-content;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 10px auto;
}

.Add__form label {
    margin-top: 40px;
}

.Add__form input {
    width: 200px;
    margin: auto;
}

.Add__form .slider {
    margin: auto;
}

.Add__form .button-primary {
    margin: 40px auto;
}