.campaignStart__container {
    border: 2px solid blue;
    background: radial-gradient(ellipse at 160px 140px, #0a0183 0%, #020022 100%);
    width: 200px;
    height: max-content;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: var(--white);
}

.campaignStart__container form {
    position: absolute;
    /* top: 10px;
    left: 50%;
    transform: translateX(-50%); */
    border: 2px solid blue;
    background: radial-gradient(ellipse at 160px 140px, #0a0183 0%, #020022 100%);
    z-index: 20;
    padding: 60px;
    border-radius: 20px;
    box-shadow: var(--clear);
    /* width: min(80vw, 700px); */
}

.campaignForm__container button {
    margin-top: 30px;
}

.campaignStart__container .close {
    position: absolute;
    right: 12px;
    top: -8px;
    font-size: 2rem;
    display: flex;
    place-items: center;
    padding: 0px;
}

.campaignStart__container .campaignDescription {
    width: 100%;
    background: var(--white);
    color: var(--black);
    padding: 2px;
    border-radius: 4px;
}

